<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirebaseJokes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C724D4E1C53E7EB00A53EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C724D621C53E7EB00A53EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C724D6D1C53E7EB00A53EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
